---
import { Navigation } from '~/components/navigation';
import Footer from '~/components/footer.astro';
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Figtree:wght@600;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap"
      rel="stylesheet"
    />
    <title>Astro</title>
  </head>

  <body class="bg-off-white text-lg">
    <main class="grid-areas grid lg:grid-cols-2 grid-cols-1">
      <div
        style="grid-area: header;"
        class="bg-[url(/mobile/image-header.jpg)] lg:bg-[url(/desktop/image-header.jpg)] flex flex-col items-center aspect-[375/538] lg:aspect-[9/5] bg-cover bg-no-repeat gap-20"
      >
        <Navigation client:load />

        <h1 class="text-white font-serif text-6xl uppercase text-center tracking-widest">
          We are creatives
        </h1>

        <a class="group" href="#transform" title="Scroll to content">
          <svg width="36" height="114" xmlns="http://www.w3.org/2000/svg">
            <g
              class="stroke-white group-hover:stroke-white/80 transition-colors"
              stroke-width="6"
              fill="none"
              fill-rule="evenodd"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M18 3v100M3 95.484l15 15 15-15"></path>
            </g>
          </svg>
        </a>
      </div>

      <div
        style="grid-area: transform-content;"
        class="grid gap-4 place-content-center lg:p-32 p-16 max-lg:text-center"
        id="transform"
      >
        <h2 class="font-serif text-4xl text-very-dark-desaturated-blue">Transform your brand</h2>
        <p class="text-grayish-blue">
          We are a full-service creative agency specializing in helping brands grow fast. Engage
          your clients through compelling visuals that do most of the marketing for you.
        </p>

        <a
          href="#"
          class="relative hover:after:opacity-100 after:transition-colors w-fit after:absolute after:-z-10 after:bottom-0 after:opacity-40 after:block after:w-full after:h-3 after:bg-yellow after:rounded-full"
        >
          <span class="p-2 uppercase font-serif text-very-dark-desaturated-blue">Learn more</span>
        </a>
      </div>

      <picture style="grid-area: transform-image;">
        <source media="(min-width:1024px)" srcset="/desktop/image-transform.jpg" />
        <img src="/mobile/image-transform.jpg" class="w-full h-full" alt="Transform your brand" />
      </picture>

      <picture style="grid-area: stand-out-image;">
        <source media="(min-width:1024px)" srcset="/desktop/image-stand-out.jpg" />
        <img
          src="/mobile/image-stand-out.jpg"
          class="w-full h-full"
          alt="Stand out to the right audience"
        />
      </picture>

      <div
        style="grid-area: stand-out-content;"
        class="grid gap-4 place-content-center lg:p-32 p-16 max-lg:text-center"
      >
        <h2 class="font-serif text-4xl text-very-dark-desaturated-blue">
          Stand out to the right audience
        </h2>
        <p class="text-grayish-blue">
          Using a collaborative formula of designers, researchers, photographers, videographers, and
          copywriters, we'll build and extend your brand in digital places.
        </p>
        <a
          href="#"
          class="relative hover:after:opacity-100 after:transition-colors w-fit after:absolute after:-z-10 after:bottom-0 after:opacity-40 after:block after:w-full after:h-3 after:bg-soft-red after:rounded-full"
        >
          <span class="p-2 uppercase font-serif text-very-dark-desaturated-blue">Learn more</span>
        </a>
      </div>

      <div
        style="grid-area: graphic-design;"
        class="lg:bg-[url(/desktop/image-graphic-design.jpg)] bg-[url(/mobile/image-graphic-design.jpg)] bg-cover bg-no-repeat lg:aspect-[6/5] aspect-[5/8] flex flex-col gap-4 items-center justify-end p-16 text-dark-desaturated-cyan"
      >
        <h2 class="text-center font-serif font-bold text-3xl">Graphic design</h2>
        <p class="text-center max-w-[40ch]">
          Great design makes you memorable. We deliver artwork that underscores your brand message
          and captures potential clients' attention.
        </p>
      </div>

      <div
        style="grid-area: photography;"
        class="lg:bg-[url(/desktop/image-photography.jpg)] bg-[url(/mobile/image-photography.jpg)] bg-cover bg-no-repeat gap-4 lg:aspect-[6/5] aspect-[5/8] flex flex-col items-center justify-end p-16 text-dark-blue"
      >
        <h2 class="text-center font-serif font-bold text-3xl">Photography</h2>
        <p class="text-center max-w-[40ch]">
          Increase your credibility by getting the most stunning, high-quality photos that improve
          your business image.
        </p>
      </div>

      <div
        style="grid-area: testimonials;"
        class="col-span-full flex flex-col gap-16 p-24 text-center"
      >
        <h2 class="text-xl font-bold font-serif uppercase tracking-widest text-grayish-blue">
          Client testimonials
        </h2>

        <div class="grid lg:grid-cols-3 gap-x-8 gap-y-20">
          <div class="flex flex-col gap-12 items-center">
            <img src="/image-emily.jpg" alt="Emily" class="aspect-square rounded-full w-16" />
            <p>
              We put our trust in Sunnyside and they delivered, making sure our needs were met and
              deadlines were always hit.
            </p>

            <div>
              <h3 class="text-xl text-very-dark-desaturated-blue font-serif font-bold">Emily R.</h3>
              <p class="text-grayish-blue">Marketing Director</p>
            </div>
          </div>

          <div class="flex flex-col gap-12 items-center">
            <img src="/image-thomas.jpg" alt="Thomas" class="aspect-square rounded-full w-16" />
            <p>
              Sunnyside's enthusiasm coupled with their keen interest in our brand's success made it
              a satisfying and enjoyable experience.
            </p>

            <div>
              <h3 class="text-xl text-very-dark-desaturated-blue font-serif font-bold">
                Thomas S.
              </h3>
              <p class="text-grayish-blue">Chief Operating Officer</p>
            </div>
          </div>

          <div class="flex flex-col gap-12 items-center">
            <img src="/image-jennie.jpg" alt="Jennie" class="aspect-square rounded-full w-16" />
            <p>
              Incredible end result! Our sales increased over 400% when we worked with Sunnyside.
              Highly recommended!
            </p>

            <div>
              <h3 class="text-xl text-very-dark-desaturated-blue font-serif font-bold">
                Jennie F.
              </h3>
              <span class="text-grayish-blue">Business Owner</span>
            </div>
          </div>
        </div>
      </div>

      <div style="grid-area: gallery;" class="grid grid-cols-2 lg:grid-cols-4">
        <picture>
          <source media="(min-width:1024px)" srcset="/desktop/image-gallery-milkbottles.jpg" />
          <img src="/mobile/image-gallery-milkbottles.jpg" alt="Milkbottles" />
        </picture>

        <picture>
          <source media="(min-width:1024px)" srcset="/desktop/image-gallery-orange.jpg" />
          <img src="/mobile/image-gallery-orange.jpg" alt="Orange" />
        </picture>

        <picture>
          <source media="(min-width:1024px)" srcset="/desktop/image-gallery-cone.jpg" />
          <img src="/mobile/image-gallery-cone.jpg" alt="Cone" />
        </picture>

        <picture>
          <source media="(min-width:1024px)" srcset="/desktop/image-gallery-sugarcubes.jpg" />
          <img src="/mobile/image-gallery-sugar-cubes.jpg" alt="Sugarcubes" />
        </picture>
      </div>
    </main>

    <Footer />
  </body>
</html>

<style>
  .grid-areas {
    grid-template-areas:
      'header'
      'transform-image'
      'transform-content'
      'stand-out-image'
      'stand-out-content'
      'graphic-design'
      'photography'
      'testimonials'
      'gallery';
  }

  @media (min-width: 1024px) {
    .grid-areas {
      grid-template-areas:
        'header header'
        'transform-content transform-image'
        'stand-out-image stand-out-content'
        'graphic-design photography'
        'testimonials testimonials'
        'gallery gallery';
    }
  }
</style>
