---
import { FaFacebookSquare, FaInstagram, FaTwitter, FaPinterest } from 'react-icons/fa';
import { Logo } from '~/components/logo';
---

<footer
  class="bg-footer-bg py-20 px-6 flex flex-col items-center [&_a:hover]:text-white [&_a]:transition-colors"
>
  <div class="text-footer-dark">
    <Logo />
  </div>

  <ul class="mt-8 flex lg:gap-16 gap-10 justify-center text-dark-moderate-cyan">
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Services</a>
    </li>
    <li>
      <a href="#">Projects</a>
    </li>
  </ul>

  <ul class="mt-20 justify-center flex gap-8 text-footer-dark">
    <li>
      <a href="#" title="Facebook">
        <FaFacebookSquare size={24} />
      </a>
    </li>
    <li>
      <a href="#" title="Instagram">
        <FaInstagram size={24} />
      </a>
    </li>
    <li>
      <a href="#" title="Twitter">
        <FaTwitter size={24} />
      </a>
    </li>
    <li>
      <a href="#" title="Pinterest">
        <FaPinterest size={24} />
      </a>
    </li>
  </ul>
</footer>
