---
import { FaFacebookSquare, FaInstagram, FaTwitter, FaPinterest } from 'react-icons/fa';
---

<footer
  class="flex flex-col items-center bg-footer-bg px-6 py-20 [&_a:hover]:text-white [&_a]:transition-colors"
>
  <div class="text-footer-dark">
    <img class="h-8" src="/logo-green.svg" alt="sunnyside" />
  </div>

  <ul class="mt-8 flex justify-center gap-10 text-dark-moderate-cyan lg:gap-16">
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Services</a>
    </li>
    <li>
      <a href="#">Projects</a>
    </li>
  </ul>

  <ul class="mt-20 flex justify-center gap-8 text-footer-dark">
    <li>
      <a href="#" title="Facebook">
        <FaFacebookSquare size={24} />
      </a>
    </li>
    <li>
      <a href="#" title="Instagram">
        <FaInstagram size={24} />
      </a>
    </li>
    <li>
      <a href="#" title="Twitter">
        <FaTwitter size={24} />
      </a>
    </li>
    <li>
      <a href="#" title="Pinterest">
        <FaPinterest size={24} />
      </a>
    </li>
  </ul>
</footer>
